<a href="https://colab.research.google.com/github/646e62/crash-course/blob/master/crash_course_2e_nostarch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course: 2e
**Date started**: 2019_12_19

This notebook goes through the Python Crash Course 2e lessons, with code and notes as needed. 
## Chapter 1: introduction
All the basics re installing Python, as well as the hello_world program
### hello_world

In [0]:
print("Hello world!")

Hello world!

### **TIY 1-3: Infinite skills exercise**
 **A good location for an ideas list/notebook**

* Web-based version of the HTA jeopardy calculator, updated to include the new *CC* section numbers
* Criminal record database, with functionality including
    * Search functionality
    * Jeopardy approximation (advanced)
* Cash vs LAM file database, with functionality including ...
* Financial projection program:
    * Anticipated financial return
    * Date of expected return
    * Files needing dates set
    * Balances owing

## Chapter 2: variables and simple data types
### hello_world (variable version)

In [0]:
message = "Hello world!"
print(message)

message = "Hello Crash Course world!"
print(message)

Hello world!
Hello Crash Course world!

### name.py (strings and string methods)
The name.py program uses string methods to alter the string characters. These methods include:
* title(): capitalizes the first letter of each word while ensuring that all subsequent letters are lowercase
* upper(): renders all letters in the string as uppercase
* lower(): renders all letters in the string as lowercase

In [0]:
name = "adA lovelacE"
print(name)
print(name.title())
print(name.upper())
print(name.lower())

adA lovelacE
Ada Lovelace
ADA LOVELACE
ada lovelace

### full_name.py
Combines two strings using f-string functionality, then capitalizes the result. For simplicity, I removed the "full_name" variable suggested by the book, opting to directly print the f-string instead.

In [0]:
first_name = "ada"
last_name = "lovelace"
print((f"{first_name} {last_name}").title())

Ada Lovelace

## Chapter 3: introducing lists
### bicycles.py
* Simple list example program.

In [0]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles)
print(bicycles[0].title())
print(f"My first bicycle was a {bicycles[-2].title()}.")

['trek', 'cannondale', 'redline', 'specialized']
Trek
My first bicycle was a Redline.

### motorcyles.py
* Demonstrates the ability to modify lists by adding & subtracting elements

In [0]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

# Adds an item to the list
motorcycles.append("ducati")
print(motorcycles)

# Removes and utilizes an item of the list
# May be used with or without arguments
# Last item on the list is default if no arguments are passed
popped_motorcycles = motorcycles.pop(1)
print(popped_motorcycles)
print(motorcycles)

# motorcycles.remove("ducati") didn't seem to work
too_expensive = "ducati"
motorcycles.remove(too_expensive)
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
yamaha
['honda', 'suzuki', 'ducati']
['honda', 'suzuki']

### cars.py
* Demonstrates the sort() method and sorted() function on a list

In [0]:
cars = ["bmw", "audi", "toyota", "subaru"]
print(cars)

# Sorts the list alphabetically
cars.sort()
print(cars)

# Sorts the list in reverse alphabetical order
cars.sort(reverse = True)
print(cars)

# Sorts the list without modifying
print(sorted(cars))
print(cars)

# Reverse the list order
cars.append("yugo")
print(cars)
cars.reverse()
print(cars)

# Find the length of a list using len()
print(len(cars))

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']
['toyota', 'subaru', 'bmw', 'audi', 'yugo']
['yugo', 'audi', 'bmw', 'subaru', 'toyota']
5

## **TIY 3-8**

In [0]:
locations = ["Iqaluit", "Tokyo", "Montreal", "Amsterdam", "Honolulu"]

print(locations)

print(sorted(locations))
print(locations)

print(sorted(locations, reverse = True))
print(locations)

locations.reverse()
print(locations)

locations.sort()
print(locations)

locations.sort(reverse = True)
print(locations)

['Iqaluit', 'Tokyo', 'Montreal', 'Amsterdam', 'Honolulu']
['Amsterdam', 'Honolulu', 'Iqaluit', 'Montreal', 'Tokyo']
['Iqaluit', 'Tokyo', 'Montreal', 'Amsterdam', 'Honolulu']
['Tokyo', 'Montreal', 'Iqaluit', 'Honolulu', 'Amsterdam']
['Iqaluit', 'Tokyo', 'Montreal', 'Amsterdam', 'Honolulu']
['Honolulu', 'Amsterdam', 'Montreal', 'Tokyo', 'Iqaluit']
['Amsterdam', 'Honolulu', 'Iqaluit', 'Montreal', 'Tokyo']
['Tokyo', 'Montreal', 'Iqaluit', 'Honolulu', 'Amsterdam']

## Chapter 4: working with lists
### magicians.py
* Demonstrates the for loop

In [0]:
magicians = ["david", "alice", "carolina"]

print("Magicians:")
for magician in magicians:
    print(f"[{int(magicians.index(magician)) + 1}] {magician.title()}")

Magicians:
[1] David
[2] Alice
[3] Carolina

### squares.py
* Uses a for-range() loop to calculate square numbers and append them to a list
* Uses a list comprehension to perform the same task
* Runs some simple statistics functions:
    * Mean
    * Min
    * Max

In [0]:
from statistics import mean

squares = []

# for-range() loop
for value in range(1, 25):
    squares.append(value ** 2)
print(squares)

# list comprehension
squares = [value ** 2 for value in range (1, 25)]
print(squares, "\n")

print(mean(squares))
print(min(squares), max(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576]

204.16666666666666
1 576

## millions.py
* Creates a list of whole numbers between 1 and 1_000_000 using a list comprehension
* Sums all the values in the list

In [0]:
millions = [value for value in range (1, 1_000_001)]
print(min(millions), max(millions))
print(sum(millions))

1 1000000
500000500000

### cube_comprehension.py
* Uses a list comprehension to create a list of the first ten cubes

In [0]:
print([value ** 3 for value in range (1, 11)])

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### players.py
* Demonstrates list slicing

In [0]:
players = ["john", "michael", "brandon", "leviticus", "zeldo", "abigail"]
print(players[0:3], players[1:5], players[::2])

for player in players[::2]:
    print(player.title())

['john', 'michael', 'brandon'] ['michael', 'brandon', 'leviticus', 'zeldo'] ['john', 'brandon', 'zeldo']
John
Brandon
Zeldo

### foods.py
* Demonstrates list copying using [:]

In [0]:
my_foods = ["pizza", "carrot cake", "falafel"]
friend_foods = my_foods[:]

# Demonstrates that a new list has been generated
my_foods.append("cannoli")
friend_foods.append("ice cream")
print(f"{my_foods}\n{friend_foods}")

# The method below points both variables to the same list, rather than 
# generating a new list
friend_foods = my_foods
print(f"{my_foods}\n{friend_foods}")

['pizza', 'carrot cake', 'falafel', 'cannoli']
['pizza', 'carrot cake', 'falafel', 'ice cream']
['pizza', 'carrot cake', 'falafel', 'cannoli']
['pizza', 'carrot cake', 'falafel', 'cannoli']

### dimensions.py
* Demonstrates the tuple data type

In [0]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

# Tuples are immutable, so changes require the variable to be reassigned
dimensions = (400, 100)
print(dimensions)

200
50
(400, 100)

## Chapter 5: if statements
### cars.py
* Provides a simple example of a conditional test

In [0]:
cars = ["audi", "bmw", "subaru", "toyota"]

for car in cars:
    if car == "bmw":
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

## banned_users.py
* Checks a list to determine whether it contains a value

In [0]:
banned_users = ["andrew", "carolina", "david"]
user = "marie"

if user not in banned_users:
    print(f"{user.title()} is not banned.")

Marie is not banned.

### TIY 5-6
* Conditional test with multiple conditions

In [0]:
age = int(input("Age: "))

if age >= 0 and age < 2:
    print("Baby")
elif age >= 2 and age < 4:
    print("Toddler")
elif age >= 4 and age < 13:
    print("Kid")
elif age >= 13 and age < 20:
    print("Teenager")
elif age >= 20 and age < 65:
    print("Adult")
else:
    print("Elder")

Age: 2
Toddler

### toppings.py
* Example of a conditional test interacting with a list
* Checks for an empty list

In [10]:
available_toppings = ["mushrooms", "olives", "green peppers", "pepperoni", "pineapple", "extra cheese"]
requested_toppings = ["mushrooms", "green peppers", "extra cheese", "french fries"]
# requested_toppings = []

# Checks for an empty list
if requested_toppings:

    for requested_topping in requested_toppings:
        if requested_topping in available_toppings:
            print(f"Adding {requested_topping}")
        else:
            print(f"Sorry, we don't have {requested_topping}")

else:
    print("Plain pizza")

print("\nFinished making the pizza")

Adding mushrooms
Adding green peppers
Adding extra cheese
Sorry, we don't have french fries

Finished making the pizza

## Chapter 6: dictionaries
### alien.py
* Example of dictionaries and key-pair values

In [2]:
alien_0 = {
    "color": "green", 
    "points": 5, 
    "speed": "slow"}

alien_0["x_position"] = 0 
alien_0["y_position"] = 25
alien_0["tmp"] = True

print(alien_0["color"])
print(alien_0["points"])
print(alien_0)

# Modifies the x_increment value based on the speed value
if alien_0["speed"] == "slow":
    x_increment = 1
elif alien_0["speed"] == "medium":
    x_increment = 2
else:
    x_increment = 3

alien_0["x_position"] += x_increment
print(alien_0)

# Permanently deletes a key-value pair
del alien_0["tmp"]
print(alien_0)

print(alien_0.get("tmp"))

green
5
{'color': 'green', 'points': 5, 'speed': 'slow', 'x_position': 0, 'y_position': 25, 'tmp': True}
{'color': 'green', 'points': 5, 'speed': 'slow', 'x_position': 1, 'y_position': 25, 'tmp': True}
{'color': 'green', 'points': 5, 'speed': 'slow', 'x_position': 1, 'y_position': 25}
None

### user.py
* Uses a for loop to obtain key-value paris from a dictionary
* Uses the item() method, which returns a list of key-value pairs

In [6]:
user_0 = {
    "username": "efermi",
    "first": "enrico",
    "last": "fermi",
}

for key, value in user_0.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

### favorite_languages.py
* Extracts the keys from the dictionary using the keys() method
* Extracts the values from the dictionary using the values() method

In [6]:
favorite_languages = {
    "jen": "python",
    "sarah": "c",
    "edward": "ruby",
    "phil": "python",
}

for name in favorite_languages.keys():
    print(name.title())

print()

# Omitting the .keys() method will produce the same output
for name in sorted(favorite_languages):
    print(name.title())

print()

# The values() method focuses on the values from the dictionary
for value in favorite_languages.values():
    print(value.title())

print()

# The set() method omits repeats
for value in set(favorite_languages.values()):
    print(value.title())

# A set can be created directly by using braces and commas around iterable data
languages = {"python", "ruby", "c", "python"}
print(f"\n{languages}")

Jen
Sarah
Edward
Phil

Edward
Jen
Phil
Sarah

Python
C
Ruby
Python

Python
C
Ruby

{'python', 'c', 'ruby'}

### aliens.py
* Creates multiple dictionaries in a for loop and adds them to a list

In [3]:
#@title Default title text
aliens = []

for alien_number in range(30):
    new_alien = {
        "color": "green",
        "points": 5,
        "speed": "slow",
    }
    
    aliens.append(new_alien)

print(f"Total aliens: {len(aliens)}")

Total aliens: 30